extends layout

block content
  h1= 'Sodoku Challenge'
  p Running on #{title}
  h2 Starting Point
  div#original
  h2#attempts Pass No.
  div#socket
  h2 Answer
  div#answer
  h3#hurray Hurray!
  h3#boo-hiss Sorry, too many tries!
