extends layout

block content
  h1= 'Sodoku Challenge'
  p Running on #{title}
  h2 Starting Point
  div#original
  h2#attempts No. of Passes to Solve:
  div#socket
  h3#hurray Hurray!
  h3#boo-hiss Sorry, too many tries!

  div.form
    input(placeholder='enter your board')
    button Go
//  h2 Answer
//  div#answer

