doctype html
html
  head
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block content
  script(src='/javascripts/app.js')
